body    {
    background-image: url("../images/space2.png");
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: 2240px 1260px;
    background-color: rgb(20, 17, 35);
    font-family: Courier, monospace;
    color: white;
}
.top-bar{
    font-family: aharoni, fantasy;
    position: fixed;
    text-align:right;
    top: 0px;
    left: 0px;
    padding: 10px
    margin: 0px;
    width: 100%;
    background-color: rgb(83, 46, 116);
}
.poster{
    text-align: center;
}
.credit{
    font-size: 9px;
    text-align: center;
}
.button{
    padding: 25px;
    font-size: 18px;
    color: white;
}
.sprites{
    text-align: center;
}
.portrait_bigger{
    width: 60px;
    height: auto;
}
.section{
    margin-left: 15%;
    width: 70%;
    background-color: rgb(83, 46, 116, 0.5);
    padding: 12px;
}
